@model IEnumerable<Gig>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Upcoming Gigs</h1>
<div class="container">
    <ul class="giggs">
    @foreach(var gig in Model)
    {
      <li>
          <div class="venue">
            <div class="date">
              @gig.Venue -- @gig.DateTime.ToString("d MMM yyyy") 
            </div>
            <div class="detail">
              @gig.Artist.UserName --@gig.Genre.Name
            </div>
          </div>
      </li>   
    }
    </ul>

</div>